{% extends 'myapp/base.html' %}
{% block content %}
<style>
    .conf
    {
        background-color: rgba(0, 0, 0, 0.76);
        color: white;
        margin-top: -8px;
    }
</style>
<div class="conf">
<center><h1>Welcome to Bus Reservation System</h1></center><br><br>
<center><h2>This the routes where our buses cross</h2></center>
<div style="text-align: center;">
    <ul style="list-style-type: disc; padding-left: 0;">
        <li style="margin-bottom: 10px; font-weight: bold; color: #f5f3f3;">Kigali To Muhanga</li>
        <li style="margin-bottom: 10px; font-weight: bold; color: #f7f3f3;">Kigali To Ruhango</li>
        <li style="margin-bottom: 10px; font-weight: bold; color: #f7f1f1;">Kigali To Nyanza</li>
        <li style="margin-bottom: 10px; font-weight: bold; color: white;">Kigali To Huye</li>
        <li style="margin-bottom: 10px; font-weight: bold; color: #eeeaea;">Kigali To Nyamagabe</li>
        <li style="margin-bottom: 10px; font-weight: bold; color: white;">Kigali To Kanyaru</li>
        <li style="margin-bottom: 10px; font-weight: bold; color: white;">Muhanga To Ruhango</li>
        <li style="margin-bottom: 10px; font-weight: bold; color: white;">Muhanga To Nyanza</li>
        <li style="margin-bottom: 10px; font-weight: bold; color: white;">Muhanga To Huye</li>
        <li style="margin-bottom: 10px; font-weight: bold; color: white;">Muhanga To Nyamagabe</li>
        <li style="margin-bottom: 10px; font-weight: bold; color: white;">Ruhango To Nyanza</li>
        <li style="margin-bottom: 10px; font-weight: bold; color: white;">nyabugogo To kicukiro</li>
    </ul>
</div>
</div>

{% endblock %}

